/* Auteur : Apokalypt */

fieldset{
	margin : 1% 0;
}

legend {
	font-size: 130%;
}

label {
	font-size: 120%;
}

.box {
	display: block;
	border: solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#box_main {
	width: 90%;
	margin: 2% auto;
}

#box_fournisseur {
	width: 30%;
	margin: 0 0 calc(1% + 10px) 10px;
}

#box_produits {
	width: 95%;
	margin: 1% auto;
}

#main {
	margin: 0 30px;
}

#fournisseur {
	margin: 0 15px;
}

#box_fournisseur input[type="button"] {
	width: auto;
	padding: 10px;
	margin: 10px auto 0;
	float: right;
}

.information {
	font-weight: bold;
}

#boutons {
	margin: 1% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#boutons input, #boutons a {
	width: auto;
	margin: 20px 40px 0;
	padding: 0.5% 1%;
}

.produit {
	display: grid;
	grid-template-columns: 150px;
	margin: 0 10px;
}

.produit .image_produit {
	grid-row: 1 / 4;
	grid-column: 1;
	background-image: url("../IMAGES/produits/orangina.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.produit .nom_produit {
	grid-row: 1;
	grid-column: 2;
}

.produit .reference_produit {
	grid-row: 3;
	grid-column: 2;
}

.produit .prix_HT_produit {
	grid-row: 1;
	grid-column: 3;
}

.produit .TVA_produit {
	grid-row: 2;
	grid-column: 3;
}

.produit .prix_TTC_produit {
	grid-row: 3;
	grid-column: 3;
}

.produit .quantite_com_produit {
	grid-row: 2;
	grid-column: 4;

	text-align: center;
	padding-right: 20px;
}

.produit .quantite_liv_produit {
	grid-row: 2;
	grid-column: 5;

	text-align: right;
	padding-right: 20px;
}