/* Auteur : Apokalypt */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

.flexAround div {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

div#parametre_numero, div#parametre_montant, div#parametre_date {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#parametre_numero select, #parametre_montant select, #parametre_date select {
	width: 20%;
}

#parametre_numero input, #parametre_montant input, #parametre_date input {
	width: 80%;
}

label, fieldset {
	margin : 1% 0;
	font-size: 110%;
}

#boutonRechercherCommande {
	padding: 0.75% 2%;
	display: block;
	margin: 2% auto auto;
	font-size: 120%;
}

.commande a {
	font-size: 110%;
	margin: 8% 0;
}

#result_commande {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.commande {
	display: flex;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	justify-content: space-around;
	border-radius: 4px;
	padding: 0.5%;
	margin-top: 2%;
}

.commande div {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.commande div h3 {
	padding: 5%;
	border: solid black 1px;
}

.commande div p:not(:last-child) {
	margin: 5% 0 0 0;
	padding-bottom: 5%;
	border-bottom: solid black 2px;
}

.commande div p:last-child {
	margin: 5% 0 0 0;
}

.commande a:hover {
	background-color: rgba(223, 116, 48, 0.7);
}

#bouttonAfficherPlus{
	padding: 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2%;
	width: 92%;
}