header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding: 0.25% 1.5%;
  margin-bottom: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(183, 219, 237);
  z-index: 1;
}

#profil img {
  width: 50px;
  height: 50px;
  margin: 5px 6px 6px 0;
}

#profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#profil div {
  margin: 10px 2% 0 5%;
}

nav {
  width: 85%;
  display: block;
  margin-top: 8px;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11.1%);
  grid-template-columns: repeat(9, 11.1%);
  list-style: none;
  font-size: 90%;
}

.nav_content {
  font-size: 110%;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  border-left: solid rgba(210, 21, 50, 0) 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3.5% 0;
  cursor : pointer;
}

li a{
  width: 100%;
  text-align: center;
}

header input[type="checkbox"] {
  display: none;
}

.details {
  display: none;
  margin: 18px 8px;
  padding: 5px 10%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(183, 219, 237, 0.7)), to(rgb(183, 219, 237)));
  background: -o-linear-gradient(rgba(183, 219, 237, 0.7), rgb(183, 219, 237));
  background: linear-gradient(rgba(183, 219, 237, 0.7), rgb(183, 219, 237));
  border-radius: 0 0 4px 4px ;
  text-align: center;
  font-size: 90%;
}

.details a {
  padding: 6% 0;
}

.details a:not(:last-child) {
  border-bottom : solid white 1px;
}

a {
  text-decoration: none;
  color: black;
}

#details-toggle-cbox1:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox2:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox3:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox4:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox5:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox6:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#details-toggle-cbox7:checked ~ .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav_content:hover {
  border-left: solid white 4px;
  background-color: rgb(127, 176, 201);
  color: white
}

.details a:hover {
  color: white
}

#deconnexion img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

#deconnexion p {
  font-size: 80%;
}

#deconnexion {
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  text-align: center;
}

#deconnexion:hover p {
  color: white;
}

#pointer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  opacity: 0.85;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(183, 219, 237);
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  -webkit-box-shadow: 3px 4px 11px #3d3d3d4f;
  box-shadow: 3px 4px 11px #3d3d3d4f;
}

#pointer a{
  font-size: 150%;
  width: 100%;
  padding: 2%;
}

.use_case {
  font-size: 200%;
  width: 80%;
  height: 190px;
  border-radius: 8px;
  margin: 3% auto;
  padding: 1% 3%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
  -webkit-box-shadow: 3px 4px 11px #3d3d3d4f;
  box-shadow: 3px 4px 11px #3d3d3d4f;
}

.use_case details {
  margin-top: 10px;
  font-size: 60%;
}

.detailUseCase a {
  font-size: 90%;
}

#use_case1 {
  background-image: url("../IMAGES/fonds/fondVert.png");
}

#use_case2, #use_case3, #use_case4 {
  background-image: url("../IMAGES/fonds/fondOrange.png");
}

.use_case:hover, #pointer:hover {
  opacity: 1;
  width: 85%;
}

details{
  width: 100%;
  cursor: pointer;
}

details div{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

details a{
  margin-left: 10px;
  margin-top: 10px;
}