/* Auteur : sepios87 */

fieldset {
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	padding: 3%;
}

div:last-child{
	margin-top: 4%;
}

legend {
	font-size: 130%;
}

label{
	width: 20%;
	margin-right: 5%;
}

select{
	width: 70%;
}

#boutons {
	width: 100%;
	margin: 1% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#boutons a {
	width: auto;
	margin: 20px 40px 0;
	padding: 0.5% 1%;
}

footer {
	bottom : 0;
}
