/* Auteur : Sawang_ */

fieldset {
	font-size: 110%;
	padding-bottom: 1%;
}

#fieldPrincipale {
	padding-bottom: 0;
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

#fieldPrincipale legend {
	font-size: 130%;
}

#factures {
	width: 90%;
	background-color: white;
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	overflow: auto;
}

#factures a {
	margin-left: 3%;
	padding: 0.5% 1%;
}

#selectionClient, #paiement, #produit {
	margin: 1% 0 3% 5%;
}

select {
	margin: 1% 0 0 3%;
	width: 15%;
}

label {
	margin-left: 3%;
}

input[type="date"] {
	text-align: center;
	margin-left: 1%;
	padding: 0.5% 1%;
	border: 0;
	border: #888888 solid 1px;
	font-style: inherit;
}

#produit h2 {
	margin-bottom: 1.75%;
}

#boutons {
	color: #888888;
	margin: 1% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

footer {
	bottom : 0;
}