/* Auteur : Apokalypt */

fieldset {
  font-size: 110%;
  margin-top: 3%;
  border : solid rgb(223, 116, 48) 1px;
  border-radius: 2px;
  background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
  font-size: 130%;
}

#ajout {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 2% 3%;
  border : solid rgb(223, 116, 48) 1px;
  border-radius: 2px;
}

#ajout p {
  color: red;
  font-size: 70%;
}

#renseignements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45%;
}

#renseignements input, #renseignements label, #renseignements select {
  width: 49%;
  margin-top: 5%;
}

input[type="text"] {
  border: solid gray 1px;
  border-radius: 2px;
  padding: 0 0.5%;
}

#renseignements fieldset {
  width: 100%;
}

#renseignements fieldset button {
  width: 100%;

  margin-top: 2%;
}

#promotion_groupe {
  display: flex;
}
#promotion_groupe input {
  margin-right: 1%;
}

#image {
  width : 48%;
}

img {
  height: auto;
  width: 100%;
}

span {
  color: red;
}

#boutons {
  margin-top : 2%;
}

#boutons a {
  margin : auto 0;
}

#boutons input {
  padding: 1%;
  font-size: 90%;
}