/* Auteur : Sawang_ */

fieldset {
	font-size: 110%;
}

#fieldPrincipale {
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondVert.png");
}

#legendPrincipale {
	font-size: 130%;
}

#scan {
	margin-top: 1.5%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	width: 80%;
	background-color: white;
}

#scan p {
	padding-top: 0.5%;
	display: block;
	margin: auto;
	text-align: center;
}

#ajout {
	width: 60%;
	background-color: white;
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	overflow: auto;
}

#legendAjout {
	font-size: 100%;
}

.ajoutContent {
	margin-left: 5%;
	padding: 1% 0 1% 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ajoutContent p {
	width: 100%;
	margin: 2% 0 0 5%;
	color: red;
	font-size: 70%;
}

.ajoutContent label {
	width: 21%;
	margin: 2% 0 0 5%;
}

input {
	margin-top: 2%;
	margin-left: 3%;
	border: solid gray 1px;
	border-radius: 2px;
	width: 48%;
}

span {
	color: red;
}

#boutons {
	margin: 1% 0 0.75% 0;
	display: flex;
	justify-content: space-around;
}

#boutons a{
	width: auto;
	margin: auto 0;
}

#boutonValider {
	margin: auto 0;
	padding: 0.5% 1%;
	font-weight: normal;
	font-size: 90%;
	background-color: rgba(33, 119, 20, 0.7);
}

#boutonValider:hover {
	background-color: rgba(33, 119, 20, 0.9);
}

footer {
	bottom : 0;
}
