html, body, div, iframe, h1, h2, p, a, img, ul, li, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

footer, header, nav {
	display: block;
}

html{
	scroll-behavior: smooth;
}

form, #resultatArticles{
	width: 90%;
	display: block;
	margin : auto;
	font-family: 'Jost', sans-serif;
}

fieldset{
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#outilRecherche{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#outilRecherche div{
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input, select{
	border: solid gray 1px;
	border-radius: 4px;
	padding: 1%;
	width: 80%;
	margin-top : 1%;
	margin-bottom: 1%;
}

label, fieldset{
	margin : 1% 0 1% 0;
	font-size: 110%;
}
select{
	width: 80%;
	margin-left: 1%;
}

#boutonRechercher{
	transition-duration: 250ms;
	border: none;
	background-color: rgba(81, 215, 59, 0.3);
	width: auto;
	padding: 0.75% 2% 0.75% 2%;
	display: block;
	margin: 2% auto auto auto;
	font-size: 120%;
}

#boutonRechercher:hover, .produit button:hover{
	background-color: rgba(81, 215, 59, 0.5);
}

#resultatArticles{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.produit button{
	border: none;
	padding: 2%;
	margin: 5% 0 0 0;
	border-radius: 10px;
	background-color: rgba(81, 215, 59, 0.3);
	transition-duration: 200ms;
	font-size: 80%;
}

.produit{
	display: flex;
	width: 48%;
	margin: 2% 0 2% 0;
}

.produit div{
	width: 100%;
	padding: 3%;
	background-color: rgba(223, 116, 48, 0.2);
}

.produit div:first-child{
	background-color: rgba(223, 116, 48, 0.3);
	text-align: center;
}

.produit div:nth-child(2) p{
	margin-bottom: 3%;
}

.produit div:first-child h3{
	border: solid black 1px;
	border-radius: 3px;
	padding: 0.5%;
}

.produit div:first-child h4{
	border-bottom: solid black 1px;
	padding-bottom: 5%;
}

#bouttonAfficherPlus{
	border : none;
	padding: 1% 2% 1% 2%;
	transition-duration: 200ms;
	font-size: 125%;
	width: 98%;
}

#bouttonAfficherPlus:hover{
	background-color: rgba(223, 116, 48, 0.4);
}
