/* Auteur : peter-divry */

html, body, div, iframe, h1, h2, p, a, img, ul, li, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

footer, header, nav {
	display: block;
}

html{
	scroll-behavior: smooth;
}

form{
	width: 90%;
	margin : auto;
	font-family: 'Jost', sans-serif;
}

fieldset{
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#renseignement{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-wrap: wrap;
}

legend{
	font-size: 130%;
}

#renseignement div {
	display: flex;
	width: 46%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2%;
	font-size: 110%;
}

#peterconnard {
	display: block;
	margin: 2% 0 0 2.3%;
}

input{
	border: solid gray 1px;
	border-radius: 4px;
	width: 50%;
}

label{
	width: 48%;
	margin : auto;
}

label, fieldset{
	font-size: 105%;
}

#fournisseur select{
	width: 100%;
}

#fournisseur{
	width: 95%;
	margin: auto;
}

select{
	border: solid gray 1px;
	border-radius: 4px;
	margin : 0% 0 1% 0;
	padding: 0.5%;
	width: 30%;
}

#valider{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 100%;
	width: auto;
	padding: 0.75% 2% 0.75% 2%;
	margin: 0 auto 0 auto;
	background-color: rgba(81, 215, 59, 0.3);
	border-radius: 8px;
	border: none;
}

#valider:hover {
	background-color: rgba(81, 215, 59, 0.5);
}
