/* Auteur : Sawang_ */
fieldset {
	font-size: 110%;
}

#fieldPrincipale {
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondVert.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#legendPrincipale {
	font-size: 130%;
}

#scan {
	margin-top: 1.5%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	width: 80%;
	background-color: white;
}

#scan p {
	padding-top: 0.5%;
	display: block;
	margin: auto;
	text-align: center;
}

#scan a {
	display: block;
	margin: 1% auto 0 auto;
	width: 10%;
}

#scan a:hover {
	background-color: rgba(81, 215, 59, 0.7);
}

#produits {
	width: 90%;
	background-color: white;
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	overflow: auto;
}

#produits input {
	margin-top: 5%;
}

#legendProduits {
	font-size: 100%;
}

.produitContent {
	border-bottom: solid rgb(36, 128, 36) 1px;
	padding: 1% 0 1% 0;
	display: flex;
	justify-content: space-between;
}

#total {
	margin-top: 1%;
	display: flex;
	justify-content: space-between;
}

#total div:first-child {
	width: 50%;
}

#total p {
	padding: 0.25% 0 0 1%;
}

#boutons {
	margin: 1% 0 0.75% 0;
}

#boutons a {
	padding: 0.5% 1%;
}

#boutonValider {
	background-color: rgba(33, 119, 20, 0.7);
}

#boutonValider:hover {
	background-color: rgba(33, 119, 20, 0.9);
}
