/* Auteur : sepios87 */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

.flexAround div {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

div#parametre_prix {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#parametre_prix select {
	width: 20%;
}

#parametre_prix input {
	width: 80%;
}

label, fieldset{
	margin : 1% 0 1% 0;
	font-size: 110%;
}

#boutonRechercherArticle, #retour {
	padding: 0.5% 1%;
	margin-top: 2%;
	font-size: 110%;
}

.article a {
	font-size: 110%;
	margin: 8% 0;
}

#result_article {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.article {
	display: flex;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	justify-content: space-around;
	border-radius: 4px;
	padding: 0.5%;
	margin-top: 2%;
}

.article div {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.article div h3 {
	padding: 5%;
	border: solid black 1px;
}

.article div p:not(:last-child) {
	margin: 5% 0 0 0;
	padding-bottom: 5%;
	border-bottom: solid black 2px;
}

.article div p:last-child {
	margin: 5% 0 0 0;
}

.article a:hover {
	background-color: rgba(223, 116, 48, 0.7);
}

#bouttonAfficherPlus {
	padding: 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2% auto;
	width: 92%;
}
