/* Auteur : Apokalypt */

fieldset{
	margin : 1% 0;
}
legend {
	font-size: 130%;
}

label {
	font-size: 120%;
}

select {
	width: 15%;
}

fieldset {
	border: solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

#formulaire_commande div {
	margin: 10px;
}

.produits {
	width: 31%;
	height: auto;
	background-color: rgb(255, 212, 185);
	border: solid gray 1.5px;
    border-radius: 10px;
}

.produits .informations {
	font-weight: bold;
}

.produits div.en_tete {
	display: flex;
	flex-wrap: wrap;
}

.produits .en_tete img {
	width: 20%;
	height: 100%;
}

.produits .en_tete label {
	margin: auto;
	margin-left: 10px;
	line-height: inherit;
	font-weight: bold;
}

.produits div input {
	padding-left: 4px;
}

.produits a {
	display: block;
	width: 20%;
	margin: 2% auto;
	padding: 0.75% 2%;
}

#total {
	text-align: right;

	margin-top: 40px;
	padding-right: 50px;
}

#total .informations {
	font-weight: bold;
}

#boutons {
	margin: 1% 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#boutons input, #boutons a {
	width: auto;
	margin: 20px 40px 0;
	padding: 0.5% 1%;
}
