/* Auteur : sepios87, Sawang_ */

img {
  display: block;
  margin: auto;
  margin-top: 3%;
  width: 200px;
}

form {
  width: 80%;
  margin-top: 1.5%;
}

form div {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  font-size: 120%;
}

legend {
  font-size: 150%;
}

fieldset {
  background-image: url("../IMAGES/fonds/fondBleu.png");
}

input {
  width: 60%;
}

label {
  width: 25%;
}
