/* Auteur : Apokalypt */

fieldset {
    font-size: 100%;
    margin-top: 3%;
    border : solid rgb(223, 116, 48) 1px;
    border-radius: 2px;
    background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
    font-size: 130%;
}

#ajout {
    width: 90%;
    margin : 2% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 2%;
    border : solid rgb(223, 116, 48) 1px;
    border-radius: 2px;
}

#renseignements label, #renseignements p {
    width: 49%;
    margin-top: 2%;
}

#renseignements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 85%;
}

#renseignements fieldset {
    width: 100%;
}

#info_produit{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#info_produit fieldset{
  width: 60%;
}

#info_produit img{
  padding: 0;
  width: 170px;
  height: 250px;
  margin: auto 0;
}

fieldset#box_fournisseur {
    width: 70%;
    background: none;
}

#box_fournisseur a {
	width: auto;
	padding: 0.75% 2%;
	margin: 10px auto 0;
    float: right;
    font-size: 110%;
}

.sous_renseignements, .sous_renseignements .information {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sous_renseignements div {
    width: 100%;
}

.sous_renseignements .information {
    width: 50%;
}

div#historique {
    margin-top: 3%;
}

.groupe_informations  {
    display: flex;
    flex-wrap: nowrap;
}

.groupe_informations div {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

#historique {
    margin-top: 2%;
}

p#historique_tete {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: black;
}

#historique_tableau, #historique_tableau a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	color: black;
	text-decoration: none;
    background-color: white;
}

#historique_tableau .cellule {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
}

#historique_tableau p {
    padding: 0.5% 0;
}

#historique_tableau .colonne_nom_article {
    width: calc(25% - 4px);
    text-align: center;
}

#historique_tableau .colonne_type_mvt {
    width: calc(25% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_quantite {
    width: calc(10% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_motif {
    width: calc(25% - 4px);
    text-align: center;
}

#historique_tableau .colonne_nom_pack {
    width: calc(30% - 4px);
    text-align: center;
}

#historique_tableau .colonne_nom_pack img {
    width: 30%;
    height: auto;
}

#historique_tableau .colonne_qte_article_pack {
    width: calc(10% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_prix {
    width: calc(10% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_reference_pack {
    width: calc(20% - 4px);
    text-align: center;
}

#historique_tableau .colonne_qte_stock_pack, #historique_tableau .colonne_qte_rayon_pack {
    width: calc(10% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_description {
    width: calc(35% - 4px);
    text-align: center;
}

#historique_tableau .colonne_etat {
    width: calc(20% - 4px);
    text-align: center;
    font-weight: bold;
}

#historique_tableau .colonne_date {
    width: calc(15% - 4px);
    text-align: center;
}

#historique_tableau .colonne_vente {
    width: calc(15% - 4px);
    text-align: center;
    font-weight: bold;
}

.text_green {
    color: green;
}
.text_red {
    color: red;
}

#ajout label {
    font-weight: bold;
}

#boutons {
    font-size: 110%;
    margin: 2% 0 0.75%;
}

#boutons a {
    padding: 0.5% 1%;
}
