html, body, div, iframe, h1, h2, p, a, img, ul, li, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

footer, header, nav {
  display: block;
}

html{
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
}

header{
  position: relative;
  display: flex;
  height: 60px;
  padding: 0.25% 3%;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(183, 219, 237);
  z-index: 1;
}

#profil img{
  width: 50px;
  height: 50px;
  margin: 6px;
}

#profil{
  display: flex;
  flex-direction: row;
}

#profil div{
  margin: 10px 20px 0 5%;
}

nav{
  width: 70%;
  display: block;
  margin-top: 18px;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  list-style: none;
}

.facturesContent{
  font-size: 110%;
  transition: 250ms;
  border-left: solid rgba(210, 21, 50, 0) 4px;
  display: flex;
  justify-content: space-around;
  padding-bottom : 3.5%;
  cursor : pointer;
}

header input[type="checkbox"] {
  display: none;
}

.details {
  display: none;
  margin: 18px 8px;
  padding: 5px 10%;
  background: linear-gradient(rgba(183, 219, 237, 0.7), rgb(183, 219, 237));
  border-radius: 0 0 4px 4px ;
  text-align: center;
  font-size: 90%;
}

.details a{
  padding: 6% 0;
}

.details a:not(:last-child){
  border-bottom : solid white 1px;
}

.details a{
  text-decoration: none;
  color: black;
}

#details-toggle-cbox1:checked ~ .details {
  display: flex;
  flex-direction: column;
}
#details-toggle-cbox2:checked ~ .details {
  display: flex;
  flex-direction: column;
}
#details-toggle-cbox3:checked ~ .details {
  display: flex;
  flex-direction: column;
}
#details-toggle-cbox4:checked ~ .details {
  display: flex;
  flex-direction: column;
}
#details-toggle-cbox5:checked ~ #facture5Details {
  display: flex;
  flex-direction: column;
}

.facturesContent:hover{
  border-left: solid rgba(210, 21, 50, 0.8) 4px;
  color: rgba(210, 21, 50, 0.8);
}

.details a:hover{
  color: rgba(210, 21, 50, 0.8);
}

#deconnexion img{
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

#deconnexion p{
  font-size: 80%;
}

#deconnexion{
  text-align: center;
}

.use_case{
  font-size: 200%;
  width: 80%;
  height: 180px;
  border-radius: 8px;
  margin: 3% auto;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  transition: 250ms;
  z-index: 7;
}

.use_case details{
  margin-top: 2%;
  font-size: 60%;
}

#use_case1{
  background-image: url("../IMAGES/fonds/fondBleu.png");
}

#use_case2{
  background-image: url("../IMAGES/fonds/fondVert.png");
}

#use_case3{
  background-image: url("../IMAGES/fonds/fondOrange.png");
}

.use_case:hover{
  opacity: 1;
  width: 83%;
}
