/* Auteur : Apokalypt */

fieldset {
	margin-top: 3%;
    font-size: 100%;
    border: solid #df7430 1px;
    border-radius: 2px;
    padding: 2%;
    background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
    font-size: 130%;
}

label {
	font-weight: bold;
	padding-left: 3%;
}

textarea {
	font-size: 90%;
}

span {
    color: red
}

#renseignements {
    width: 75%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.groupe_informations div, input, p, label, select, textarea {
    width: 49%;
    margin-top: 3%;
}

.groupe_informations img {
    width: 220px;
    height: 150px;
    margin-top: 3%;
}

textarea {
	height: 150px;;
}

#renseignements fieldset {
    width: 100%;
}

#renseignements fieldset fieldset {
    width: auto;
}

.groupe_informations {
    display: flex;
    flex-wrap: nowrap;
}

#historique {
    margin: 2% 0 4%;
}

p#historique_tete {
    width: 100%;
    padding: 1% 0;
    margin-top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: black;
}

#historique_tableau {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    background-color: white;
}

#historique_tableau label, #historique_tableau p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
	padding-left: 0%;
    border: solid 2px gray;
}

#historique_tableau p {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#historique_tableau .colonne_date, #historique_tableau .colonne_plage {
    width: calc(33% - 4px);
    text-align: center;
}

#historique_tableau .colonne_total {
    width: calc(34% - 4px);
    text-align: center;
    font-weight: bold;
}

#pointer {
    font-size: 110%;
}

#boutons {
    font-size: 110%;
    margin-top: 2%;
}
