/* Auteur : Sawang_ */

fieldset {
	font-size: 110%;
}

#fieldPrincipale {
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondVert.png");
}

#legendPrincipale {
	font-size: 130%;
}

#ajout {
	width: 60%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-top: 3%;

	padding: 1% 3% 1% 3%;

	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;	

	background-color: white;
}

#ajout p {
	width: 100%;

	margin: 2% 0 0 10%;
	margin-top: 2%;

	color: red;
	font-size: 70%;
}

#ajout fieldset {
	width: 90%;

	margin: 2% auto 0 auto;
}

input {
	margin-top: 2%;
	border: solid gray 1px;
	border-radius: 2px;
	width: 48%;
	font-family: inherit;
	padding-left: 1%;
}

.groupe_informations {
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.groupe_informations label {
	margin-top: 2%;
    margin-left: 2%;
}

span {
	color: red;
}

#boutons {
	margin: 1% 0 0.75%;
}
#boutonValider {
	background-color: rgba(33, 119, 20, 0.7);
}
#boutonValider:hover {
	background-color: rgba(33, 119, 20, 0.9);
}

#annuler{
	margin: auto 0;
}