/* Auteur : sepios87 */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

.flexAround div {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.flexAround div div {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

label, fieldset {
	margin : 1% 0;
	font-size: 110%;
}

input {
	margin-top: 1%;
	padding: 1% 0 1% 2%;
	font-family: inherit;
	border: solid gray 1px;
	border-radius: 2px;
}

#boutonRechercherClient, #retour {
	margin-top: 2%;
	font-size: 110%;
}

.fournisseur a {
	font-size: 110%;
	margin: 8% 0;
}

#resultClient {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.client {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-radius: 4px;
	padding: 1%;
	margin-top: 2%;
}

.client div{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.client div h3 {
	padding: 3%;
	border: solid black 1px;
}

.client div p:not(:last-child) {
	margin: 3% 0 0;
	padding-bottom: 3%;
	border-bottom: solid black 2px;
}

.client div p:last-child {
	margin: 3% 0 0;
}

.client a:hover{
	background-color: rgba(223, 116, 48, 0.7);
}

.client a {
  width: 40%;
  margin: 3% auto 0;
  padding: 0.75% 2%;
}

#bouttonAfficherPlus {
	padding: 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2%;
	width: 92%;
}