/* Auteur : sepios87 */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
}

legend {
	font-size: 130%;
}

#conteneur {
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

#nom {
	margin: 2%;
}

input {
	border: solid gray 1px;
	border-radius: 4px;
	margin : 1% 0;
}

label, fieldset, #pointage div {
	margin: 1% 0;
	font-size: 110%;
}

select {
	width: 80%;
	padding: 0.5%;
	margin-left: 1%;
}

#date {
	width: 100%;
}

#date input {
	width: 80%;
}

.horaire,.horaire input {
	width: 50%;
}

.horaire label, .horaire input, #date input, #date label, #total {
	padding: 1%;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 120%;
}

#bouttonAjouterHoraire {
	margin-top: 3%;
	font-size: 90%;
}

#total {
	width: 100%;
	margin-top: 1%;
}

#valider input {
	display: none;
}

.nonVisible {
	display: none;
}

#valider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#valider label, button.nonVisible {
	margin: auto;
	padding: 0.5% 1.5%;
}

#valider p {
	color: green;
	font-size: 130%;
	width: 50%;
	margin: auto;
	padding: 1%;
	margin-top: 2%;
	display: none;
}

#valider a {
	margin: auto;
}

#estVisible:checked ~ .nonVisible {
	display: block;
}

#estVisible:checked ~ label {
	display: none;
}

#rendreVisible:checked ~ label {
	display: block;
}

footer {
	bottom : 0;
}