/* Auteur : Sawang_ */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

.flexAround div {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

input {
	padding: 1%;
	width: 80%;
	margin: 1% 0;
}

label, fieldset {
	margin : 1% 0;
	font-size: 110%;
}

select {
	width: 80%;
	margin-left: 1%;
}

#boutonRechercherStocks, #retour {
	padding: 0.5% 1%;
	font-size: 110%;
	width: auto;
	margin: 2% 0 0;
}

#result_stock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.stock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-radius: 4px;
	padding: 0.5%;
	margin-top: 2%;
}

.stock div {
	width: 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.stock a {
	font-size: 110%;
	margin: 8% 0;
}

.stock h4:first-of-type {
	margin-top: 0;
}

.stock h4:last-of-type {
	margin-top: 3%;

}
.stock div h3 {
	padding: 5%;
	border: solid black 1px;
}

.stock div p:not(:last-child) {
	margin: 0;
	padding-bottom: 5%;
	border-bottom: solid black 2px;
}

.stock div p:last-child {
	margin: 5% 0 2%;
}

#bouttonAfficherPlus {
	padding: 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2%;
	width: 92%;
}

footer {
	bottom : 0;
}