/* Auteur : Sawang_ */

fieldset {
	font-size: 110%;
}

#fieldPrincipale {
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondVert.png");
}

#legendPrincipale {
	font-size: 130%;
}

#ajout {
	width: 60%;
	background-color: white;
	margin-top: 3%;
	border : solid rgb(36, 128, 36) 1px;
	border-radius: 2px;
	padding: 1% 0 1% 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#ajout label {
	margin: 2% 0 0 10%;
	width: 17%;
}

#ajout p {
	width: 100%;
	margin: 2% 0 0 10%;
	margin-top: 2%;
	color: red;
	font-size: 70%;
}

input {
	margin-top: 2%;
	border: solid gray 1px;
	border-radius: 2px;
	width: 48%;
}

span {
	color: red;
}

#boutons {
	margin: 1% 0 0.75%;
	display: flex;
	justify-content: space-around;
}

#boutonValider {
	font-weight: normal;
	font-size: 90%;
	background-color: rgba(33, 119, 20, 0.7);
	margin: auto 0;
	padding: 0.5% 1%;
}

#boutonValider:hover {
	background-color: rgba(33, 119, 20, 0.9);
}

#annuler{
	margin: auto 0;
}

footer {
	bottom : 0;
}
