fieldset {
    margin-top: 3%;
    
    font-size: 110%;

    border: solid #df7430 1px;
    border-radius: 2px;

    background-image: url(../IMAGES/fonds/fondOrange.png);
}
legend {
    font-size: 130%;
}
label {
    font-weight: bold;
}
span {
    color: red
}
.groupe_informations div, input, label, select {
    width: 49%;

    margin-top: 3%;
}
.groupe_informations div label {
    margin-top: 3%;
}

div#groupe_boutons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#renseignements {
    width: 60%;
    
    margin: auto;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#renseignements fieldset {
    width: 100%;
}

.groupe_informations {
    display: flex;
    flex-wrap: nowrap;
}

#groupe_bouton {
    width: 50%;
}

select.choix_type_prix {
    width:  auto;

    margin-top:  0;

    padding-right:  28px;

    font-weight: bold;
}

#promotion_groupe {
    display: flex;
}
#promotion_groupe input {
    margin-right: 1%;
}

#boutons {
    margin-top: 2%;
    margin-bottom: 2%;
    
    font-size: 130%;
}