/* Auteur : Sawang_ */

form {
  width: 80%;
  margin-top: 1.5%;
}

form div {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  font-size: 120%;
}

legend {
  font-size: 150%;
}

fieldset {
  background-image: url("../IMAGES/fonds/fondBleu.png");
  border : solid rgb(48, 155, 223) 1px;
}

input, textarea {
  padding-left: 1%;
  width: 60%;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 4px 11px #3d3d3d4f;
}

textarea {
  font-family: inherit;
  padding: 1%;
  width: 58%;
  height: 130px;
}

label {
  padding-left: 4%;
  width: 25%;
}

span {
  color: red;
}

p {
	width: 100%;
  margin-left: 6%;
	color: red;
	font-size: 90%;
}