/* Auteur : Sawang_ */

html, body, div, iframe, h1, h2, p, a, img, ul, li, footer, header, select {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
}

form {
	width: 90%;
	margin : auto;
	font-family: 'Jost', sans-serif;
}

fieldset {
	font-size: 110%;
	padding-bottom: 1%;
}

#fieldPrincipale {
	padding-bottom: 0;
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#fieldPrincipale legend {
	font-size: 130%;
}

#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#factures {
	width: 90%;
	background-color: white;
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	overflow: auto;
}

#selectionClient, #paiement, #produit {
	margin: 1% 0 3% 5%;
}

select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	overflow: hidden;
	border: 0;
	border-radius: 0;
	outline: 0;
	color: #888888;
	cursor: pointer;
	border-bottom: solid 1px #888888;
	margin: 1% 0 0 3%;
	width: 15%;
	font-size: 95%;
	padding: 0.5% 1%;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
  	background-repeat: no-repeat;
}

select:focus {
	background-image:linear-gradient(45deg, gray 50%, transparent 50%), linear-gradient(135deg, transparent 50%, gray 50%);
	background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
}

select:hover {
	background-color: rgba(223, 223, 223, 0.5);
}

option {
	background-color: white;
	font-size: 80%;
}

option:hover {
	background-color: rgba(223, 223, 223, 0.5);
	border: 0;
}

label {
	margin-left: 3%;
}

input[type="date"] {
	text-align: center;
	margin-left: 1%;
	padding: 0.5% 1%;
	border: 0;
	border: #888888 solid 1px;
	font-style: inherit;
}

#produit h2 {
	margin-bottom: 1.75%;
}

#boutons {
	color: #888888;
	margin: 1% 0;
	display: flex;
	justify-content: space-around;
}

.designBoutons {
	color: black;
	text-decoration: none;
	transition: 250ms;
	width: auto;
	text-align: center;
	font-size: 100%;
	padding: 0.5% 1% 0.5% 1%;
	border-radius: 8px;
	border: none;
}

#boutonRetour {
	background-color: rgba(203, 75, 62, 0.5);
}

#boutonRetour:hover {
	background-color: rgba(203, 75, 62, 0.75);
}

.bAjouter {
	margin-left: 3%;
	background-color: rgba(223, 116, 48, 0.5);
}

.bAjouter:hover {
	background-color: rgba(223, 116, 48, 0.7);
}

#boutonValider {
	background-color: rgba(81, 215, 59, 0.2);
}

#boutonValider:hover {
	background-color: rgba(81, 215, 59, 0.4);
}
