/* Auteur : sepios87, Apokalypt */

fieldset {
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	padding: 0 1.5% 2%;
}

fieldset div {
	width: 100%;
	margin-top: 0.5%;
}

#recherche, .selection_checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#recherche div {
	width: 20%;
	display: flex;
	flex-direction: column;
	padding: 0% 5% 1% 2%;
}

.choix {
	margin: 1% 0;
}

.selection_checkbox div {
	width: 20%;
}

#paiement {
	margin: 2% 0;
}

#paiement div {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

#paiement select {
	width: 15%;
}

#paiement input {
	width: 80%;
}

label, fieldset {
	margin : 1% 0;
	font-size: 110%;
}

#boutonRechercherFournisseur, #retour {
	padding: 0.5% 1%;
	margin-top: 2%;
	font-size: 110%;
}

.fournisseur a {
	font-size: 110%;
	margin: 8% 0;
}

#modePaiementPref {
	margin: 1.5% 0;
}

#result_fournisseur {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.fournisseur {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	-ms-flex-pack: distribute;
	justify-content: space-around;
	border-radius: 4px;
	padding: 2%;
	margin-top: 2%;
}

.fournisseur div {
	width: 40%;
	padding: 0 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.fournisseur div h3 {
	padding: 5%;
	border: solid black 1px;
}

.fournisseur div p:not(:last-child) {
	margin: 5% 0 0;
	padding-bottom: 5%;
	border-bottom: solid black 2px;
}

.fournisseur div p:last-child {
	margin: 5% 0 0;
}

#bouttonAfficherPlus {
	padding: 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2%;
	width: 92%;
}