/* Auteur : Sawang_ */

fieldset {
  font-size: 110%;
}

#fieldPrincipale {
  margin-top: 3%;
  border : solid rgb(36, 128, 36) 1px;
  border-radius: 2px;
  background-image: url("../IMAGES/fonds/fondVert.png");
}

#legendPrincipale {
  font-size: 130%;
}

#scan {
  margin-top: 1.5%;
  border : solid rgb(36, 128, 36) 1px;
  border-radius: 2px;
  width: 60%;
  background-color: white;
}

#scan label {
  margin-left: 1%;
}

#scan input {
  margin: 1% 0 0 0.5%;
  border: solid gray 1px;
  border-radius: 2px;
  width: 20%;
}

#scan input:last-of-type {
  margin: 1% 0 2% 5.6%
}

#scan button {
  display: block;
  margin: 1% auto 0 auto;
}

#scan button:hover {
  background-color: rgba(81, 215, 59, 0.7);
}

#produits {
  width: 90%;
  background-color: white;
  margin-top: 3%;
  border : solid rgb(36, 128, 36) 1px;
  border-radius: 2px;
  overflow: auto;
}

#legendProduits {
  font-size: 100%;
}

.produitContent {
  border-bottom: solid rgb(36, 128, 36) 1px;
  padding: 1% 0 1% 0;
  display: flex;
  justify-content: space-between;
}

.produitContent:last-of-type {
  border-bottom: none;
}

#boutons {
  margin: 1% 0 0.75% 0;
}

#boutonRecherche {
  font-size: 90%;
  font-weight: normal;
  padding: 0.75% 2%;
}

#boutonValider {
  background-color: rgba(33, 119, 20, 0.7);
}

#boutonValider:hover {
  background-color: rgba(33, 119, 20, 0.9);
}
