/* Auteur : sepios87 */

fieldset {
	margin-top: 3%;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	padding: 0 3%;
	border: solid 1px rgb(223, 116, 48);
    border-radius: 2px;
}

legend {
	font-size: 130%;
}

label, p {
	margin-top: auto;
	margin-bottom: auto;
}

.flexAround div:not(#divMotif) {
	display: flex;
    width: 46%;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2%;
    font-size: 100%;
}

span {
	color: red
}

.flexAround div p {
	width: inherit;
}

.flexAround div a {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 0.75% 2%;
}

#divMotif {
	margin: 2% 0;
	width: 95%;
}

input, select {
	border: solid gray 1px;
	border-radius: 4px;
	width: 48%;
}

label {
	width: 50%;
	font-weight: bold;
}

#divMotif label {
	width: 100%;
}

label, fieldset {
	font-size: 110%;
}

#entreeSortie {
	margin-top: 0.75%;
	width: 30%;
}

#motif {
	width: 100%;
	height: 150px;
}

footer {
	bottom : 0;
}

#boutons {
	margin-bottom: 2%;
}
