/* Auteur : Sawang_ */

fieldset {
	margin-top: 3%;
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
	font-size: 130%;
}

.flexAround div {
	display: flex;
	width: 46%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2%;
	font-size: 110%;
}

#tproduit {
	display: block;
	margin: 2% 0 0 2.3%;
}

input {
	border: solid gray 1px;
	border-radius: 4px;
	width: 50%;
}

label {
	width: 48%;
	margin : auto;
}

label, fieldset {
	font-size: 105%;
}

#fournisseur select {
	width: 100%;
}

#fournisseur {
	width: 95%;
	margin: auto;
}

#boutons{
	margin-top: 2%;
}

#boutons a{
	padding: 0.5% 1%;
}

footer {
	bottom : 0;
}
