/* Auteur : Apokalypt */

fieldset {
    font-size: 110%;
    margin-top: 3%;
    border : solid rgb(223, 116, 48) 1px;
    border-radius: 2px;
    background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
    font-size: 130%;
}

#ajout {
    width: 80%;
    margin : 2% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 2%;
    border : solid rgb(223, 116, 48) 1px;
    border-radius: 2px;
}

#renseignements label, #renseignements p {
    width: 49%;
    margin-top: 5%;
}

#renseignements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 45%;
}

#ajout label {
    font-weight: bold;
}

img {
    height: 100%;
    width: 30%;
}

#boutons {
    margin: 2% 0 0.75% 0;
}

#boutons a {
    padding: 0.5% 1%;
}

footer {
    bottom: 0;
}