/* Auteur : Apokalypt */

fieldset {
	margin-top: 3%;
    font-size: 100%;
    border: solid #df7430 1px;
    border-radius: 2px;
    padding: 2%;
    background-image: url("../IMAGES/fonds/fondOrange.png");
}

legend {
    font-size: 130%;
}

label {
	font-weight: bold;
	padding-left: 3%;
}

textarea {
	font-size: 90%;
}

span {
    color: red
}

#renseignements {
    width: 75%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.groupe_informations div, input, p, label, select, textarea {
    width: 49%;
    margin-top: 2%;
}

img {
	height: 100px;
	width: 100px;
}

textarea {
	height: 150px;;
}

#renseignements fieldset {
    width: 100%;
}
#renseignements fieldset fieldset {
    width: auto;
}

.groupe_informations {
    display: flex;
    flex-wrap: nowrap;
}

.groupe_checkbox label {
	width: auto;
}

#historique {
    margin: 2% 0;
}

p#historique_tete {
    width: 100%;
    padding: 1% 0;
    margin-top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: black;
}

#historique_tableau {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    background-color: white;
}

#historique_tableau a {
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
	justify-content: center;
	color: black;
	text-decoration: none;
}

#historique_tableau a:hover {
	cursor: pointer;
}

#historique_tableau label, #historique_tableau p {
    border: solid 2px gray;
	margin: 0;
	padding-left: 0%;
}

#historique_tableau p {
    padding: 0.5% 0;
}

#historique_tableau .mode_cellule, #historique_tableau .valide_cellule {
    width: calc(50% - 4px);
    text-align: center;
}

#historique_tableau .valide_cellule {
    font-weight: bold;
}

#historique_tableau .titu_cellule {
    width: calc(20% - 4px);
    text-align: center;
}

#historique_tableau .banque_cellule {
    width: calc(20% - 4px);
    text-align: center;
}

#historique_tableau .IBAN_cellule {
    width: calc(30% - 4px);
    text-align: center;
}

#historique_tableau .etat_cellule, #historique_tableau .BIC_cellule {
	width: calc(15% - 4px);
	text-align: center;
}

#historique_tableau .etat_cellule {
	font-weight: bold;
}

#historique_tableau .nom_cellule {
    width: calc(20% - 4px);
    text-align: center;
}

#historique_tableau .tel_cellule {
	width: calc(13% - 4px);
    text-align: center;
}

#historique_tableau .statut_cellule {
    width: calc(13% - 4px);
    text-align: center;
}

#historique_tableau .mail_cellule {
    width: calc(21% - 4px);
    text-align: center;
}

#historique_tableau .com_cellule {
    width: calc(33% - 4px);
    text-align: center;
}

#historique_tableau .colonne_employe {
    width: calc(15% - 4px);
    text-align: center;
}

#historique_tableau .colonne_date {
    width: calc(18% - 4px);
    text-align: center;
}

#historique_tableau .colonne_statut {
    width: calc(12% - 4px);
    text-align: center;
}

#historique_tableau .colonne_motif, #historique_tableau .colonne_compte {
    width: calc(27.5% - 4px);
    text-align: center;
}

.text_green {
    color: green;
}

.text_red {
	color: red;
}

fieldset a {
    font-size: 110%;
}

#boutons {
    margin-top: 2%;
}