#formClient{
	width: 90%;
	display: block;
	margin : auto;
	font-family: 'Jost', sans-serif;
}

#formClient fieldset{
	border : solid rgb(223, 116, 48) 1px;
	border-radius: 2px;
	background-image: url("../IMAGES/fonds/fondOrange.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#outilRechercheClient{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#outilRechercheClient div{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

label, fieldset{
	margin : 1% 0 1% 0;
	font-size: 110%;
}

#boutonRechercherClient{
	padding: 0.75% 2% 0.75% 2%;
	display: block;
	margin: 2% auto auto auto;
	font-size: 120%;
}

.fournisseur a {
	font-size: 110%;
	margin: 8% 0 8% 0;
}

#resultClient{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.client{
	display: flex;
  flex-wrap: wrap;
	width: 40%;
	background-color: rgba(223, 116, 48, 0.3);
	justify-content: space-around;
	border-radius: 4px;
	padding: 1%;
	margin-top: 2%;
}

.client div{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.client div h3{
	padding: 3%;
	border: solid black 1px;
}

.client div p:not(:last-child){
	margin: 3% 0 0 0;
	padding-bottom: 5%;
	border-bottom: solid black 2px;
}

.client div p:last-child{
	margin: 3% 0 0 0;
}

.client a:hover{
	background-color: rgba(223, 116, 48, 0.7);
}

#bouton a {
  width: auto;
  margin: 3% auto 0 auto;
}

#bouttonAfficherPlus{
	padding: 1% 2% 1% 2%;
	font-size: 125%;
	display: block;
	margin: 3% auto 2% auto;
	width: 92%;
}
