/* Auteur : sepios87 */

fieldset {
	margin-top: 3%;
	background-image: url(../IMAGES/fonds/fondOrange.png);
	
    padding-left: 3%;
	padding-right: 3%;
	
	border: solid 1px rgb(223, 116, 48);
    border-radius: 2px;
}

legend {
	font-size: 130%;
}

.flexAround div:not(#divMotif) {
	display: flex;
    width: 46%;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 2%;
    font-size: 110%;
}

.flexAround div p {
    width: inherit;
}
.flexAround div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divMotif {
	margin: 2% 0;
	width: 95%;
}

input, select {
	border: solid gray 1px;
	border-radius: 4px;
	width: 50%;
}

label {
	width: 40%;

	font-weight: bold;
}

#divMotif label {
	width: 100%;
}

label, fieldset {
	font-size: 110%;
}

#entreeSortie {
	margin-top: 0.75%;
	width: 30%;
}

#motif {
	width: 100%;
	height: 150px;
}

footer {
	bottom : 0;
}